html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff; 
  color: #000; 
}

.App {
  text-align: center;
  padding: 2em;
  background-color: #fff; 
  color: #000; 
  height: 100%;
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.container {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 2em;
}

input {
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
}

button {
  padding: 0.5em 1em;
  border: none;
  background: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  background: #0056b3;
}

.random-button {
  padding: 0.5em 1em;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0em;
  margin-bottom: 2em;
}

.random-button:hover {
  background: #218838;
}
